body {
    background-color: #A6827B;
    
}

.name-container {
    display: flex;
    justify-content: center;
    font-size: larger;
    
    width: 600px;
    height: 100%;

    margin-left: auto;
    margin-right: auto;
    
}
.winner-container {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 75px;
    
    /*background-color: yellow;*/
}
.info-container {
    width: 100%;
    height: 150px;
    /*background-color: green;*/
}
.game-info {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.button-container {
    width: 100%;
    height: 300px;
    /*background-color: blue;*/
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.button-choices {
    height: 200px;
    width: 200px;
    border-radius: 12px;
    background-color: #A6827B;
    padding: 0;
    border: 0;
}
.img {
    height: 200px;
    width: 200px;
    border-radius: 12px;
    
    
}
.game-score-container {
    width: 100%;
    height: 75px;
    
    display: flex;
    justify-content: space-evenly;
}
.game-score {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    align-self: center;
    
    
}
.computerchoice-show-container {
    height: 250px;
    width: 100%;
    /*background-color: azure;*/
    text-align: center;
    
}
.bruh {
    margin: 5px;
    text-align: center;
}